:root {
    --standard-font-size: 36px;
    --small-font-size: 24pt;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    /* background: #333232;  For testing */
}


#gameInfoWrapper {
    position: flex;
    display: flex;
    justify-content: space-evenly;
    z-index: 2;
}

#gameInfo {
    position: fixed;
    text-align: center;
    background: #3679dd;
    transform: translateX(-50%);
    font-size: calc(var(--small-font-size) * var(--ui-scaling));
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 1px black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
    padding: 5px 10px;
    margin: 0 5px 0 5px;
    border: 2px solid black;
    max-width: max-content;
}

#raceInfo {
    position: fixed;
    text-align: center;
    background: #3679dd;
    transform: translateX(-50%);
    font-size: calc(var(--small-font-size) * var(--ui-scaling));
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 1px black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
    padding: 5px 10px;
    margin: 0 5px 0 5px;
    border: 2px solid black;
    max-width: max-content;
}

#ticker {
    position: fixed;
    text-align: center;
    background: #3679dd;
    transform: translateX(-50%);
    font-size: calc(var(--small-font-size) * var(--ui-scaling));
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 1px black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
    padding: 5px 10px;
    margin: 0 5px 0 5px;
    border: 2px solid black;
    max-width: max-content;
}

/* Main container */
#scoreBoardDiv {
    position: fixed;
    display: flex;
    flex-direction: column; /* Stack shotclock-container and scoreBoard vertically */
    align-items: center;
    width: 90%;
    z-index: 2;
    bottom: 1%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

/* Scoreboard layout */
#scoreBoard {
    /* position: fixed; */
    display: flex;
    flex-direction: row; /* Keep the row layout for player sections */
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    gap: 0; /* No gap between flex items */
    z-index: 2;
}

/* Player containers */
.player-container {
    display: flex;
    /* position: fixed; */
    flex-direction: row;
    align-items: center;
}

.player-container.left {
    justify-content: flex-end;
}

.player-container.right {
    justify-content: flex-start;
}

/* Player names */
#hpName, #apName {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
    -webkit-text-stroke: 1px black;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
    font-weight: bold;
    text-align: center;
    width: calc(550px * var(--ui-scaling));
    overflow: hidden;
    text-overflow: ellipsis;
    border: 2px solid black;
    z-index: 2;
}

/* #hpName {
    padding: 5px 15px;
}

#apName {
    padding: 5px 15px;
} */

.score-logo-container {
    position: relative;
    display: inline-block;
}

.score-ball-container {
    position: relative;
    align-content: center;
    justify-content: center;
    display: inline-block;
    background-color: rgba(128, 128, 128, 1);
}

/* Scores */
#hpScore, #apScore {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    /* background: #ed4e54; */
    /* font-size: calc(var(--standard-font-size) * var(--ui-scaling)); */
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 1px black;
    /* padding: 5px 10px; */
    border: solid black;
    z-index: 3;
}

#hpScore {
    border-width:2px 2px 2px 2px; /* No left border */
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6); */
}

#apScore {
    border-width:2px 2px 2px 2px; /* No right border */

    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6); */
}

/* Custom logos */
.customLogo1, .customLogo2 {
    position: absolute;
    top: 0;
    border: 2px solid black;
    box-sizing: border-box; /* Includes border in the height calculation */
    max-width: auto;
    height: 100%;
    aspect-ratio: 1 / 1; /* For a square aspect ratio */
    object-fit: cover;
    z-index: 3;
}

.customLogo1 {
    right: 100%;
}

.customLogo2 {
    left: 100%;
}



.ext-image-container {
    position: relative;
    display: inline-block;
}
/* Extension icons */
#hpExtIcon, #apExtIcon {
    background: green;
    border: solid black;
    color: white;
    font-size: calc(var(--standard-font-size) * var(--ui-scaling));
    top: 50%;
    padding: 5px 10px;
    -webkit-text-stroke: 1px black;
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
    z-index: 3;
}

#p1ExtIcon {
    right: 100%;
    border-width:2px 0 2px 2px; /* No right border */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);

}

#p2ExtIcon {
    left: 100%;
    border-width:2px 2px 2px 0; /* No left border */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);

}

/* Player images */
#player1Image, #player2Image {
    position: absolute;
    top: 0;
    background-color: red;
    border: 2px solid black;
    box-sizing: border-box; /* Includes border in the height calculation */
    height: 100%;
    width: 20%;
    z-index: 4;
    /* top: 50%; */
}

#player1Image {
    left: 100%;
}

#player2Image {
    right: 100%;
}

/* Animation classes */
.fadeInElm {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}

.fadeOutElm {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.logoSlide {
    display:none;
}

.winBlink {
    animation: blinking .10s 4;
}

.extBlink {
    animation: extblinking .15s 3;
}

@keyframes blinking {
    0% { background-color: #ffffff; }
    100% { background-color: lightgreen; }
}

@keyframes extblinking {
    0% { background-color: green; }
    100% { background-color: red; }
}

.noShow {
    visibility: hidden;
    display: none;
}

.faded {
    opacity: 0.2;
}