.blue28, .tabcontent, .tab button:hover {
	background: maroon;
	border:0px;
}

.obs28, .tabcontent, .tab button.active {
	background: #4c4c4c;
	border:0px;
	color:white;
}

#mainDiv {
	background: #2b2e38;
}

hr {
	border-bottom:0px;
	border-top: 1px solid #4c4c4c;
	border-left: 0px;
	border-right: 0px;
}

.hover:hover {
	background:#7a797a;
}

.clkd {
	color: dimgrey;
}

.themeSizeLabels{
	color:lightgrey;
}